.faq1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}


.faq-container1 {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; 
  height: 200px;
  width: 800px;
  margin-left: 400px;
  transition: all 0.3s ease;
}


.faq-container1:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}


.faq-container1 .faq-container p {
  font-weight: bold;
}

.faq-container1 .faq-container p:not(:first-child) {
  margin-top: 10px;
  margin-left: 20px; 
}


.faq-container1 .faq-container a {
  color: #007bff;
  text-decoration: none;
}

